{% extends './layout.html' %}

{% block title %}Pagina no encontrada{% endblock %}

{% block body %}
<main>
    <section class="technology">
      <div class="container">
        <h2>La pagina que buscas no existe</h2>
        <p>Lo sentimos. Intenta buscar otra cosa</p>
      </div>
    </section>
    <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <p></p>

        </div>
      </section>


  </main>
{% endblock %}