{% extends './layout.html' %}

{% block title %}{{data.titulo}}{% endblock %}

{% block body %}
<main>
    <section class="technology">
      <div class="container">
        <h2>Nosotros</h2>
        <p>Somos un equipo de alumnos de la UNAM desarrollando un proyecto basado en algoritmos de IA 
            para mejorar tus inversiones. Nuestra plataforma te proporciona recomendaciones personalizadas 
            y precisas, ayudándote a tomar decisiones financieras acertadas. Estamos comprometidos en brindarte 
            soluciones confiables para alcanzar tus metas financieras.</p>
      </div>
    </section>

    <section class="finance">
      <div class="container">
        <h2>Misión y Visión</h2>
        <h3>Misión</h3>
        <p>Nuestra misión es utilizar algoritmos de inteligencia artificial y análisis de datos para ayudar a las personas 
            a realizar inversiones más inteligentes y rentables. Nos comprometemos a ofrecer una plataforma fácil de usar y 
            accesible que brinde recomendaciones personalizadas y precisas, respaldadas por datos actualizados y confiables. 
            Nos esforzamos por capacitar a nuestros usuarios, proporcionándoles las herramientas necesarias para tomar decisiones 
            financieras informadas y alcanzar sus objetivos de inversión a largo plazo. Nuestro objetivo principal es ayudar a las personas a 
            construir un futuro financiero sólido y exitoso.</p>
            <h3>Visión</h3>
        <p>Nuestra visión es ser líderes en la transformación digital del mundo de las inversiones, proporcionando soluciones innovadoras 
            basadas en inteligencia artificial que permitan a las personas tomar decisiones financieras informadas y exitosas. Nos esforzamos 
            por ser reconocidos como la plataforma de referencia en la industria, ofreciendo herramientas avanzadas y confiables que empoderen a 
            nuestros usuarios para alcanzar su libertad financiera.</p>

      </div>
    </section>
    
    <section class="technology">
        <div class="container">
          <h2>Valores de nuestra empresa</h2>
          <h3>Excelencia</h3>
        <p>Nos esforzamos por alcanzar la excelencia en todo lo que hacemos. Buscamos la perfección en nuestras soluciones, servicios 
            y en la experiencia general que ofrecemos a nuestros usuarios. Nos comprometemos a superar las expectativas y a brindar 
            resultados de calidad.</p>
            <h3>Innovación</h3>
        <p>Nos apasiona la innovación y nos esforzamos por estar a la vanguardia de la tecnología y las mejores prácticas en el ámbito 
            financiero. Buscamos constantemente nuevas formas de mejorar y optimizar nuestros servicios, incorporando las últimas tendencias 
            en inteligencia artificial y análisis de datos para proporcionar soluciones efectivas y de vanguardia.</p>
            <h3>Confianza</h3>
        <p>La confianza es fundamental en nuestra relación con nuestros usuarios. Nos comprometemos a actuar con transparencia, ética y 
            responsabilidad en todas nuestras interacciones. Valoramos la confianza que nuestros usuarios depositan en nosotros y trabajamos 
            arduamente para ganárnosla y mantenerla a través de acciones coherentes y resultados confiables.</p>
        </div>
      </section>
  </main>
{% endblock %}