{% extends './layout.html' %}

{% block title %}{{data.titulo}}{% endblock %}


{% block body %}
<head>


    
    <style>
        .plot{
    width: 100%;
    height: auto;
    margin:  auto;
        }


    </style>
</head>
<main>
    <section class="technology">
        <div class="container">
            <div>
                <h2>{{data.titulo}}</h2>
            </div>
            

    <form action='/showlogclas' method="POST">
        <div class="form-group">



            
         <label for="clus">Nombre de la variable a predecir:</label> 
         <input type="text" id="vari" name="vari" required minlength="1" size="10">   

            <div>
             <button type="submit" id='send' >Enviar</button>
            </div>
         </div>
    </form>

    <div>
        <h3>Datos</h3>


        <table>
            <tr>
                {% for header in headings %}
                <th>{{header}}</th>
                {% endfor %}
                </tr>
            <tr>
                {% for row in table%}
                <tr>
                {% for cell in row%}
                <td>{{cell}}</td>
                {% endfor %}
                </tr>
                {% endfor %}

            </tr>

        </table>
    
    </div>



</div>
</section>


</main>
{% endblock %}