{% extends './layout.html' %}

{% block title %}Gracias por contactarnos{% endblock %}

{% block body %}
<main>
    <section class="technology">
      <div class="container">
        <h2>Gracias por contactarnos</h2>
        <p>Pronto solucionaremos tus inconvenientes.</p>
      </div>
    </section>
    <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <h2></h2>
            <p></p>
        </div>
      </section>
      <section class="finanace">
        <div class="container">
            <p></p>

        </div>
      </section>


  </main>
{% endblock %}